aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiolimiter==1.1.0
aiosignal==1.3.1
altgraph==0.17.4
anyio==4.3.0
APScheduler==3.10.4
asciimatics==1.15.0
astroid==3.3.6
attrs==24.2.0
cachetools==5.3.3
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
colorama-terminal==0.0.1
colortextpy==0.0.3.2
contourpy==1.2.0
cryptography==42.0.5
cycler==0.12.1
dill==0.3.9
fastcore==1.5.29
flake8==7.1.1
fonttools==4.49.0
frozenlist==1.5.0
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx==0.27.0
hyperframe==6.0.1
idna==3.7
isort==5.13.2
keyboard==0.13.5
kiwisolver==1.4.5
markdown-it-py==3.0.0
matplotlib==3.8.3
mccabe==0.7.0
mdurl==0.1.2
MouseInfo==0.1.3
multidict==6.1.0
numpy==1.26.4
packaging==23.2
pefile==2023.2.7
pillow==10.2.0
platformdirs==4.3.6
prettytable==3.10.0
prompt-toolkit==1.0.14
propcache==0.2.0
PyAutoGUI==0.9.54
pycodestyle==2.12.1
pycparser==2.21
pyfiglet==1.0.2
pyflakes==3.2.0
pygame==2.6.1
PyGetWindow==0.0.9
Pygments==2.17.2
PyInquirer==1.0.3
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.10
pylint==3.3.2
PyMsgBox==1.0.9
pyparsing==3.1.2
pyperclip==1.8.2
PyRect==0.2.0
PyScreeze==0.1.30
pyTelegramBotAPI==4.23.0
python-dateutil==2.9.0.post0
python-telegram-bot==21.1
pytweening==1.0.7
pytz==2024.1
pywin32==306
pywin32-ctypes==0.2.3
regex==2024.11.6
requests==2.32.3
rich==13.7.1
setuptools==69.1.0
six==1.16.0
sniffio==1.3.1
socksio==1.0.0
style==1.1.0
tabulate==0.9.0
telebot==0.0.5
telepot==12.7
tomlkit==0.13.2
tornado==6.4
tzdata==2024.1
tzlocal==5.2
update==0.0.1
urllib3==2.2.3
wcwidth==0.2.13
windows-curses==2.4.0
yarl==1.17.1
